node_modules
dist
!packages/*/dist
*.local
.env.local
.env.*.local
.idea
*.iml
.ace-tool/
tsconfig.tsbuildinfo
test-results/
playwright-report/
.DS_Store
**/.DS_Store
packages/*/node_modules
storybook-static/
chromatic.log
build-storybook.log
chromatic-build-*.json
